<nav>
    <div class="site-title">
        <a href="/"><h1>My To-do list</h1></a>
        <p>Noor's To Do List</p>
      </div>
    <ul>
     <li><a href="/">Tasks></a></li>
     <li><a href="/add-task">New Task></a></li>
    </ul>
     </nav>